extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to update
  else
    - let gameid = toShow._id
    - let designer = toShow.designer
    - let gameprice = toShow.price
    - let gamesize = toShow.size
    - let actionid = "/resource/game/" + gameid
    script let actionid = "#{actionid}"
    div.row(class='mb-2')
    div.mr-1 ID is 
      span(style="color:red")  #{gameid}
    form(id='gameForm', action= actionid, method="PUT")
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.gameAttr(for='game_type',class="col-form-label") game designer
        div(class="col-auto")
          input#game_type(type='text', name='game_type',class="form-control", value=desidner)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.gameAttr(for='quantity',class="col-form-label") game price
        div(class="col-auto")
          input#quantity(type='number', name='quantity',class="form-control", value=gameprice)
      div.form-group
      div(class="row g-3 align-items-center")
        div(class="col-1")
          label.gameAttr(for='cost',class="col-form-label") game size
        div(class="col-auto")
          input#cost(type='number', name='cost',class="form-control", value=gamesize)
      input(class="btn btn-danger m-2" type="submit")
        //- button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
        
  script.
    document.forms['gameForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'PUT',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });