extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let gameid = toShow._id
    - let game_type = toShow.game_type
    - let gameprice = toShow.quantity
    - let gamesize = toShow.cost
    - let actionid = "/resource/game/" + gameid
    script let actionid = "#{actionid}"
    div
    div.row
    div(class='gameAttr mr-3') Game ID is: 
      span(style="color:red") #{gameid}
    div.row
    div(class='gameAttr mr-3') Game Type is: 
      span(style="color:red") #{game_type}
    div.row
    div(class='gameAttr mr-3') Game quantity is: 
      span(style="color:red") #{gamequantity}
    div.row
    div(class='gameAttr mr-3') Game Cost is: 
      span(style="color:red") #{gamecost}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the game collection
    window.location.href='/game'
    }
    function deleteOnid() {
    console.log("starting delete")
    // delete first
    fetch(actionid, {
    method: 'DELETE' // Don't need a body for the delete
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Delete succeded")
    window.location.href='/game'
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Delete failed " + error )
    });
    }
