extends layout

block content
 h1= title

  if(toShow == null)
    h2 No instance to detail
  else
    - let gameid = toShow._id
    - let designer = toShow.designer
    - let gameprice = toShow.price
    - let gamesize = toShow.size
    - let actionid = "/resource/game/" + gameid
    script let actionid = "#{actionid}"
    div
    div.row
    div(class='gameAttr mr-3') game ID is: 
      span(style="color:red") #{gameid}
    div.row
    div(class='gameAttr mr-3')  designer is: 
      span(style="color:red") #{designer}
    div.row
    div(class='gameAttr mr-3') game price is: 
      span(style="color:red") #{gameprice}
    div.row
    div(class='gameAttr mr-3') game size is:
      span(style="color:red") #{gamesize}
    button(class="btn btn-primary m-2" onclick="detailOnid()") Goback
    button(class="btn btn-danger m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
    // Go back to the home page for the game collection
    window.location.href='/game'
    }
    function detailOnid() {
    window.location.href='/game'
    }
