extends layout

block content
 h1= title
  //- - let items = ['designer','price','size']
  - let items = results;
  

      div(class='container-fluid')
        div(class='row m-1')
        div(class="row row-cols-1 row-cols-sm-4 g-6")
          each item in items, 
            -let destination = `dispatch(\"/costumes/update?id=${item._id}\")` 
              div(class="row-sm-2", class="m-1") Item #{item.designer}(#{item.price}) is #{item.size}
                button.btn( class="btn-primary ml-1", onclick= destination) Update
                
  
  script.
    function buy(x){
      alert('purchased item ' + x)
    }   
     
     
    function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      } 
      function dispatch(path){ 
      window.location.href=path 
      }  
        

  
