extends layout

block content
  h1= title
  //- - let items = ['game_type','quantity','cost']
  - let items = results;
  - let o;
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/game/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.game_Designer}(#{item.price}) is #{item.size} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }

    function buy(x){
      alert('purchased item ' + x)
   } 


  
